<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Calculator</h1>
    <form method="post">
        <input name="number_one" placeholder="type in your first number">
        <input name="number_second" placeholder="type in your second number">
        <select name="operator">
            <option value="addition">+</option>
            <option value="subtraction">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
        </select>
        <button>Get me my result!</button>
    </form>
</body>
</html>