<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Length Converter</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <h1>Length Converter</h1>
    <form method="post" action="/converter-result">
        <input name="amount" placeholder="Enter the amount here">
        <br><select name="unit">
            <option value="kilometers">Kilometers</option>
            <option value="miles">Miles</option>
        </select>
        <br><button>OK</button>
    </form>
</body>
</html>